main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* filter: blur(0.2em); */
}

picture{
    height: 400px;
    background-color: black;
    border: 2px solid white;
    /* filter: blur(0em); */
    transition: filter .5s;
}

