@media only screen and (max-width: 600px){
    .navigation {
        list-style: none;
        display: block;
        flex-direction: column;    
        background-color: #F04800;
        text-align: center;
    }
 



}